*,
*::before,
*::after {
    box-sizing: border-box;
}

// font-family: 'Noto Sans KR', sans-serif;
// font-family: 'Source Code Pro', monospace;
// font-family: 'Source Sans Pro', sans-serif;

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-code: 'Source Code Pro', monospace;
    --ff-body: 'Noto Sans KR', sans-serif;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --clr-light: #F4ECFF;
    --clr-bg01: #222529;
    --clr-bg02: #272A2E;
    --clr-footer: #111111;
    --clr-accent: #16e0bd;
    --clr-purple: #6E00FF;

}

// @media (min-width:800px) {
//     :root {
//         --fs-h1: 4.5rem;
//         --fs-h2: 3.75rem;
//         --fs-h3: 1.5rem;
//         --fs-body: 1.125rem;
//     }
// }

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    height: 100vh;
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    line-height: 1.6;
    color: var(--clr-light);
    background-color: var(--clr-bg01);
}

h1, h2, h3, p {
    margin:0;
}

a {
    text-decoration: none;

}

img {

    max-width:100%;
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}


.container {
    max-width:1200px;
    margin: 0 auto;
    padding: 4em 2em;
}

header {
    background-image: url(../../img/jaeriProfile04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}


///////////////////////////////////////////////
//-------------------- NAVBAR ---------------//
///////////////////////////////////////////////

.nav {
    background-color: rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.33);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.33);
}

.nav .container {
    display: flex;
    justify-content: space-between;
    padding: .8em 1em;
    
}


.nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right a {
    color: var(--clr-light);
    margin-right:1em;
}

.nav-right .hamburger-menu {
    width:30px;
    height: 30px;
    cursor:pointer;
    display: block;
    position: relative;
    margin-top:15px;

}

.hamburger-menu span {
    width:30px;
    height:3px;
    display: block;
    background-color:var(--clr-accent);
}

.hamburger-menu span + span {
    width:24px;
    margin:6px 0 0 6px;
}

.nav-list {
    display: none;
}



///////////////////////////////////////////////
//-------------------- HERO -----------------//
///////////////////////////////////////////////

.hero {
    color: var(--clr-light);
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    position: absolute;
    top:50%;
    right:20%;
    transform: translate(0%, -50%);
    -webkit-transform:translate(0%, -50%);
    max-width:1200px;



    .container {
       

        .hero-text {
            line-height: 2;
            width:400px;
            


            .hero-logo {
                display: block;
                width:20em;
                margin:2em 0;
            }

            .hero-indent {
                margin-left:2em;
            }

                        
            .hero-code {
                color:#868295;
                font-family: var(--ff-code);
            }

            .purple {
                color: var(--clr-purple);
            }
            
        }
        
    }

}









.hero-desc {
    color: var(--clr-light);
    font-family: var(--ff-body);

}

.hero-desc-title {
    text-transform: uppercase;
    font-weight: 900;
}

.scroll-down {
    width:70px;
    height: 70px;
    background: var(--clr-accent) url(../../img/arrow_down_3.svg) center center no-repeat;
    background-size: 10px;
    position: absolute;
    bottom: -30px;
    left: 48%;
    transform: translate(-50%, 0);
    z-index: 3;
    border-radius: 10px;
}


///////////////////////////////////////////////
//---------------- FEATURED -----------------//
///////////////////////////////////////////////

.featured {
    padding: 6em 0 5em 0;
    .container {
        width: 100%;

        .featured-content {
            display: block;
            transition: transform 330ms ease-in-out;


            .featured-desc {
                color: var(--clr-accent);
                background-image: url(../../img/featured_bg.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                height: 500px;
                width: 100%;
                border-radius: 10px;
                padding: 2em 3em;
                display: flex;
                justify-content: space-between;
                
                .subtitle {
                    letter-spacing: .5rem;
                }
    
                .skills {
                    color: var(--clr-bg02);
                    font-weight: 400;
                }
            }
    
            .featured-title {
                color: var(--clr-accent);
                letter-spacing: .5rem;
                font-size: 4.5rem;
                font-family: var(--ff-primary);
                padding-left: 3rem;
                margin-top: -.8em;
                font-weight: 900;
                text-shadow: 1px 1px 5px var(--clr-bg02);
            }
    
            .arrow {
                background: url(../../img/arrow.svg) center center no-repeat;
                width:80px;
                height:80px;
                margin-left: 2em;
                margin-top: -1rem;
                transition: all .3s ease-in-out;
            }
        
        }

        .featured-content:hover {
            transform: translate(0%, -10px);
            transition: transform 330ms ease-in-out;
        }

        .featured-content:hover .arrow {
            transform: rotate(-45deg);
        }
        
    }
}



///////////////////////////////////////////////
//-------------------- SERVICE---------------//
///////////////////////////////////////////////

.service {
    background-color: var(--clr-bg02);
    padding: 5em 0;

    .subtitle {
        letter-spacing: .5rem;
        color: var(--clr-accent);
        margin-bottom: 2em;
    }

    .service-content {
        display: flex;
        justify-content: space-between;

        .card {
            width:500px;
            background-color: white;
            border-radius: 10px;
            padding: 3em 5em;
            color: var(--clr-bg02);

            .service_dev_img {
                margin: 3em auto;
                display: block;
            }

            .service_design_img {
                margin:2em auto;
                display: block;
            }

            h2, h3 {
                text-align: center;
                margin-bottom: .8em;
                font-weight: 900;
                font-family: var(--ff-primary);
            }

            h3 {
                color: var(--clr-accent);
                margin-top:1.5em;
            }

            .service_center {
                text-align: center;
            }

            .service_devTools {
                display: flex;
                justify-content: space-between;

                ul {
                    list-style: none;
                    padding:0;
                    width:50%;
                    margin: 0;


                    .service_mongoDB {
                        width:40px;
                        display: inline-block;
                        margin-bottom:-.5em;
                        filter: grayscale(1);
                        margin-right:-.1em;
                        margin-left:-.5em;
                    }
                    .service_materialUI {
                        width:20px;
                        display: inline-block;
                        filter: grayscale(1);
                        margin-right:.5em;
                    }

                    i {
                        margin-right:.5em;
                    }

                    
                }
                
               
               
            }
        }

        .service_design {
            ul {
                list-style:none;
                padding: 0;

                .service_design_img {
                    width:20px;
                    display: inline-block;
                    filter: grayscale(1);
                    margin:0 .5em 0 0;
                }

                .figma {
                    height:20px;
                    margin-bottom:-.2em;
                }
            }
        }
    }
}





@media (max-width:800px) {
    
    header {
        background-image: url(../../img/jaeriProfile04.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 20% 50%;
        padding:1em 0;
    }

    .hero-text {
        margin-right: auto;
        margin-left: auto;
        line-height: 2;
        padding: 8em 0 0 0;


        .purple {
            // color: #868295;
        }
        .hero-hide {
            display: none;
        }

        .hero-indent {
            margin-left:0;
        }
    }

}

@media (min-width:800px) {
    
    header {

        .nav .logo {
            display: none;
        }
        
        .hero {
            right:2%;
        }
    }

        
    
}

@media (min-width:1000px) {
    header {
        
        .hero {
            right:5%;
        }
    }
}

@media (min-width:1400px) {
    header {
        .hero {
            right:10%;
        }
    }
}

@media (min-width:1600px) {
    header {
        .hero {
            right:15%;
        }
    }
}
@media (min-width:2000px) {
    header {
        .hero {
            right:20%;
        }
    }
}